packaging_format = 2

id = "shuri"
name = "Shuri"
description.en = "Simple URL Shortener"
description.fr = "Racourcisseur basique d'URL"

version = "1.0~ynh2"

maintainers = ["frju365"]

[upstream]
license = "MIT"
code = "https://github.com/pips-/shuri"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/shuri"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/pips-/shuri/archive/3204be01ad0ffefbfee7507c4a05694a64c761fb.tar.gz"
        sha256 = "d9f8b6ef06cf08b593850e180be4f8efba5f5e3495045930f21e7927b4beb95c"
        autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.1-fpm, php8.1-gd"
